common --registry=https://raw.githubusercontent.com/digiboys/bazel-registry/main
common --registry=https://bcr.bazel.build

common --action_env="BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1"
common --announce_rc
common --color=yes
common --curses=yes
common --incompatible_strict_action_env
common --ui_actions_shown=20
common --progress_in_terminal_title
common --enable_platform_specific_config

build --@bazel_clang_format//:binary=@llvm_toolchain//:clang-format
build --@bazel_clang_format//:config=//:format-config

build --@rules_clang_tidy//:clang-tidy=@llvm_toolchain//:clang-tidy
build --@rules_clang_tidy//:config=//:tidy-config

test --test_output=errors
test --test_summary=detailed

try-import %workspace%/user.bazelrc
