# ignore bazel build/test directories
/bazel-*
/example/bazel-*

# ignore user local bazelrc
/user.bazelrc

# ignore Nix out links to dev shell application
/.bazel-wrapper/

# ignore NixOS specific bazelrc
/.nixos-autoconfig/
